{% extends 'admin/base_site.html' %}

{% block title %}View Claim - Admin{% endblock %}

{% block extrastyle %}
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container mx-auto px-4 py-12">
        <h1 class="text-2xl font-semibold text-white mb-6">View Claim</h1>
        <p class="text-lg text-gray-300 mb-4">Enter the input data that you copied from <a href="https://goerli.etherscan.io/" target="_blank" class="text-blue-400 hover:text-blue-500">https://goerli.etherscan.io/</a> for the particular transaction's block details you want to see.</p>

        <form action="{% url 'admin_view_claim' %}" method="POST" class="bg-inherit p-6 rounded shadow">
            {% csrf_token %}
            <div class="mb-4">
                <label for="input_data" class="block mb-2">Input Data:</label>
                <input type="text" id="input_data" name="input_data" class="w-full p-2 border rounded" required>
        </div>
        <button type="submit"
                class="bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded transition duration-200 ease-in-out">
            Submit
        </button>
    </form>

    {% if claim_data %}
        <div class="mt-8 bg-inherit p-6 rounded shadow">
            <h2 class="text-2xl font-bold mb-4">Claim Data</h2>
            <pre style="white-space: pre-wrap">{{ claim_data|safe }}</pre>
        </div>
    {% endif %}
</div>
{% endblock %}

