{% extends 'base.html' %}

{% block title %} Claim Details {% endblock %}

{% block content %}
    <div class="container mx-auto px-4 py-12">
        <div class="relative pt-1 mb-8">
            <div class="flex mb-2 items-center justify-between">
                <div>
                    <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blue-600 bg-blue-200">
                        Step 2
                    </span>
                </div>
                <div class="text-right">
                    <span class="text-xs font-semibold inline-block text-blue-600">
                        Claim Details
                    </span>
                </div>
            </div>
            <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-blue-200">
                <div style="width:50%"
                     class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-blue-500"></div>
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data" class="bg-white p-6 rounded shadow">
            {% csrf_token %}
            <h2 class="text-2xl font-semibold mb-4">Claim Details</h2>
            <div class="mb-4">
                <label for="date_of_loss" class="block mb-2">Date of Loss: <span class="text-red-600">*</span></label>
                <input type="date" name="date_of_loss" id="date_of_loss" class="w-full p-2 border rounded" required>
            </div>

            <div class="mb-4">
                <label for="country_of_incident" class="block mb-2">Country of Incident: <span
                        class="text-red-600">*</span></label>
                <select name="country_of_incident" id="country_of_incident" class="w-full p-2 border rounded" required>
                    <option value="" selected disabled>Select a country</option>
                    {% for country_code, country_name in COUNTRY_CHOICES %}
                        <option value="{{ country_code }}">{{ country_name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="flex flex-wrap -mx-4">
                <div class="w-full md:w-1/2 px-4 mb-4 md:mb-0">
                    <label for="claim_amount_currency" class="block mb-2">Currency: <span class="text-red-600">*</span></label>
                    <select name="claim_amount_currency" id="claim_amount_currency" class="w-full p-2 border rounded"
                            required>
                        <option value="" selected disabled>Select a currency</option>
                        {% for currency_code, currency_name in CURRENCY_CHOICES %}
                            <option value="{{ currency_code }}">{{ currency_code }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="w-full md:w-1/2 px-4">
                    <label for="claim_amount" class="block mb-2">Claim Amount: <span
                            class="text-red-600">*</span></label>
                    <input type="text" name="claim_amount" id="claim_amount" class="w-full p-2 border rounded"
                           placeholder="Enter claim amount" required>
                </div>
            </div>


            <div class="mb-4">
                <label for="description_of_loss" class="block mb-2">Description of Loss: <span
                        class="text-red-600">*</span></label>
                <textarea name="description_of_loss" id="description_of_loss" class="w-full p-2 border rounded" rows="4"
                          required></textarea>
            </div>

            <div class="mb-4">
                <label for="passport" class="block mb-2">Claimant's Passport: <span
                        class="text-red-600">*</span></label>
                <input type="file" name="passport" id="passport" accept="image/*" class="w-full p-2 border rounded"
                       required
                       title="Please upload a valid passport. Submitting a fake or incorrect document is illegal.">
            </div>

            <div class="mt-6">
                <button type="button" onclick="window.history.back()"
                        class="bg-gray-500 hover:bg-gray-600 text-white py-2 px-4 rounded mr-4 transition duration-200 ease-in-out">
                    Back: Personal Details
                </button>

                <button type="submit" name="next-coverage-items"
                        class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded transition duration-200 ease-in-out">
                    Next: Coverage Items Selection
                </button>
            </div>

        </form>
    </div>
{% endblock %}
