{% extends 'base.html' %}

{% block title %} Sub Cover Selection {% endblock %}

{% block content %}
    <div class="container mx-auto px-4 py-16">
        <!-- ... progress bar ... -->
        <div class="relative pt-1 mb-8">
            <div class="flex mb-2 items-center justify-between">
                <div>
            <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blue-600 bg-blue-200">
                Step 3
            </span>
                </div>
                <div class="text-right">
            <span class="text-xs font-semibold inline-block text-blue-600">
                Coverage Items Selection
            </span>
                </div>
            </div>
            <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-blue-200">
                <div style="width:60%"
                     class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-blue-500"></div>
            </div>
        </div>

        <div id="error-toast"
             class="hidden fixed bottom-4 right-4 bg-red-500 text-white rounded p-4 shadow-md opacity-90 transform transition duration-500 ease-out translate-y-full">
            <div class="flex items-center">
                <div class="flex-shrink-0">
                    <i class="fas fa-exclamation-triangle"></i>
                </div>
                <div class="ml-3">
                    <p class="font-semibold">Error</p>
                    <p id="error-toast-message"></p>
                </div>
                <button class="ml-auto p-1 focus:outline-none" onclick="closeErrorToast()">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>


        <form method="POST" class="bg-white p-8 rounded shadow" onsubmit="return validateCoverageSelection();">
            {% csrf_token %}
            <h2 class="text-2xl font-semibold mb-6">Coverage Item Selection</h2>
            <p class="mb-4">Select the coverage items you want to include in your claim:</p>
            <h3 class="text-lg font-semibold mb-4">Airline Travel Inconvenience</h3>
            <div class="flex space-x-4 mb-8">
                {% for checkbox in form.coverage_items %}
                    <div class="bg-gray-200 hover:bg-green-300 text-gray-700 px-6 py-4 rounded-md cursor-pointer transition duration-200 ease-in-out{% if checkbox.checked %} bg-green-500 text-white{% endif %}">
                        {{ checkbox.tag }}
                        {{ checkbox.choice_label }}
                    </div>
                {% endfor %}
            </div>

            <!-- Horizontal line with padding -->
            <hr class="my-6">

            <div class="mt-6">
                <button type="button" onclick="window.history.back()"
                        class="bg-gray-500 hover:bg-gray-600 text-white py-2 px-4 rounded mr-4 transition duration-200 ease-in-out">
                    Back: Claim Details
                </button>

                <button type="submit" name="next-required-documents"
                        class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded transition duration-200 ease-in-out"
                >
                    Next: Required Documents
                </button>

            </div>
        </form>
    </div>

    <script>
        const toggleButtons = document.querySelectorAll('.cursor-pointer');
        const selectedCoverageItems = {{ selected_coverage_items|safe }};

        toggleButtons.forEach((button) => {
            const checkbox = button.querySelector('input[type="checkbox"]');

            if (selectedCoverageItems.includes(checkbox.value)) {
                button.classList.toggle('bg-gray-200');
                button.classList.toggle('text-gray-700');
                button.classList.toggle('bg-green-500');
                button.classList.toggle('text-white');
                checkbox.checked = true;
            }

            button.addEventListener('click', () => {
                button.classList.toggle('bg-gray-200');
                button.classList.toggle('text-gray-700');
                button.classList.toggle('bg-green-500');
                button.classList.toggle('text-white');
                checkbox.checked ^= true;
            });
        });

        document.querySelector('form').addEventListener('submit', (event) => {
            const checkboxes = document.querySelectorAll('input[name="coverage_items"]');
            const checkedCheckboxes = Array.from(checkboxes).filter(checkbox => checkbox.checked);

            if (checkedCheckboxes.length === 0) {
                event.preventDefault();
                showErrorToast("Please select at least one coverage item.");
            }
        });

        function showErrorToast(message) {
            document.getElementById("error-toast-message").innerText = message;
            const toast = document.getElementById("error-toast");
            toast.classList.remove("hidden");
            toast.style.transform = "translateY(0)";
            setTimeout(closeErrorToast, 8000); // Hide the toast after 8 seconds
        }

        function closeErrorToast() {
            const toast = document.getElementById("error-toast");
            toast.style.transform = "translateY(100%)";
            setTimeout(function () {
                toast.classList.add('hidden');
            }, 500);
        }

    </script>


{% endblock %}
