{% extends 'base.html' %}

{% block title %} Sub Cover Selection {% endblock %}

{% block content %}
    <div class="container mx-auto px-4 py-16">
        <!-- ... progress bar ... -->
        <div class="relative pt-1 mb-8">
            <div class="flex mb-2 items-center justify-between">
                <div>
            <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blue-600 bg-blue-200">
                Step 3
            </span>
                </div>
                <div class="text-right">
            <span class="text-xs font-semibold inline-block text-blue-600">
                Coverage Items Selection
            </span>
                </div>
            </div>
            <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-blue-200">
                <div style="width:60%"
                     class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-blue-500"></div>
            </div>
        </div>

        <form method="POST" class="bg-white p-8 rounded shadow">
            {% csrf_token %}
            <h2 class="text-2xl font-semibold mb-6">Coverage Item Selection</h2>
            <p class="mb-4">Select the coverage items you want to include in your claim:</p>
            <h3 class="text-lg font-semibold mb-4">Airline Travel Inconvenience</h3>
            <div class="flex space-x-4 mb-8">
                <div id="flight_delay_or_abandonment"
                     class="bg-gray-200 hover:bg-green-300 text-gray-700 px-6 py-4 rounded-md cursor-pointer transition duration-200 ease-in-out">
                    <input type="checkbox" name="coverage_items" value="Flight Delay or Abandonment" class="sr-only">
                    Flight Delay or Abandonment
                </div>
                <div id="baggage_delay"
                     class="bg-gray-200 hover:bg-green-300 text-gray-700 px-6 py-4 rounded-md cursor-pointer transition duration-200 ease-in-out">
                    <input type="checkbox" name="coverage_items" value="Baggage Delay" class="sr-only">
                    Baggage Delay
                </div>
                <div id="baggage_loss"
                     class="bg-gray-200 hover:bg-green-300 text-gray-700 px-6 py-4 rounded-md cursor-pointer transition duration-200 ease-in-out">
                    <input type="checkbox" name="coverage_items" value="Baggage Loss" class="sr-only">
                    Baggage Loss
                </div>
            </div>

            <!-- Horizontal line with padding -->
            <hr class="my-6">

            <div class="mt-6">
                <button type="button" onclick="window.history.back()"
                        class="bg-gray-500 hover:bg-gray-600 text-white py-2 px-4 rounded mr-4 transition duration-200 ease-in-out">
                    Back: Claim Details
                </button>

                <button type="submit" name="next-required-documents"
                        class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded transition duration-200 ease-in-out">
                    Next: Required Documents
                </button>
            </div>
        </form>
    </div>

    <script>
        const toggleButtons = document.querySelectorAll('.cursor-pointer');
        const selectedCoverageItems = {{ selected_coverage_items|safe }};

        toggleButtons.forEach((button) => {
            const checkbox = button.querySelector('input[type="checkbox"]');

            if (selectedCoverageItems.includes(checkbox.value)) {
                button.classList.toggle('bg-gray-200');
                button.classList.toggle('text-gray-700');
                button.classList.toggle('bg-green-500');
                button.classList.toggle('text-white');
                checkbox.checked = true;
            }

            button.addEventListener('click', () => {
                button.classList.toggle('bg-gray-200');
                button.classList.toggle('text-gray-700');
                button.classList.toggle('bg-green-500');
                button.classList.toggle('text-white');
                checkbox.checked ^= true;
            });
        });
    </script>

{% endblock %}
