{% extends 'base.html' %}

{% block title %} Claim Submitted {% endblock %}

{% block content %}
    <div class="min-h-screen flex flex-col justify-center items-center py-6 sm:px-6 lg:px-8">
        <div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-md flex items-center space-x-4">
            <div class="flex-shrink-0">
                <i class="fas fa-check-circle fa-3x text-green-500"></i>
            </div>
            <div>
                <div class="text-xl font-medium text-black">Claim Submitted Successfully</div>
                <div class="mt-2 text-gray-500">Your claim reference number is
                    <strong>{{ claim_reference_number }}</strong>. Please keep this number for your records.
                </div>
            </div>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var confettiSettings = {target: 'my-canvas'};
                var confetti = new ConfettiGenerator(confettiSettings);
                confetti.render();

                setTimeout(function () {
                    var canvas = document.getElementById('my-canvas');
                    canvas.style.opacity = 0;
                }, 3000);
            });
        </script>
        <canvas id="my-canvas"
                class="fixed top-0 left-0 w-screen h-screen z-0 pointer-events-none opacity-100 transition-opacity duration-1000"></canvas>
    </div>
{% endblock %}
